.button {
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5aaf83, #516d5d),
        linear-gradient(#c5ffd9 0%,#cefbe1 10%, #a5fbc6 50%, #88fbac 51%, #d5ffdd 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.button2{
    -fx-background-color:
        rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 14px;
}

.label{

     -fx-font-style: noramal;
    -fx-font-weight: bolder;
    -fx-font-size: 12px;

}