
.Anchorpain{
    -fx-background-color:#32CD32

}
.label{
    -fx-font-size:15px;
    -fx-background-color:#021ffa;
    -fx-text-fill:#ffffff;



}

.vbox{
    -fx-background-color:#ffffff;
    -fx-align-content:center;


}
.text-field{
    -fx-border-radius:2px;
    -fx-border-color:blue;
    -fx-padding:3px;
    -fx-padding:3px;
    -fx-max-block-size:6;
}
.Button{
    -fx-font-size:10px;
    -fx-background-color:red;
    -fx-text-fill:white;
    -fx-border-radius:30;
    -fx-border-width:2;
    -fx-border-color:black;
    -fx-background-radius:30;

}