.label-principal{
    -fx-background-color: #1e78ff;
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-style: tahoma;
}

.label-etiquetas{
    -fx-font-style: tahoma;
}

.toggle-button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.toggle-button:selected {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.radio-button:selected .radio {
    -fx-background-color:green;
}
.radio-button:selected .dot {
    -fx-background-color: red;
}