.button{

    -fx-background-color:linear-gradient(to bottom, blue, white) ;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

}
.button:hover{
    -fx-background-color : blue;
    -fx-font-size:16;
    -fx-background-radius: 30px;
    -fx-border-radius: 30px;
    -fx-text-fill: white;
}