.toggle-button {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.toggle-button:selected {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}