.button{

   /* -fx-background-color: #008080;
    -fx-border-color: #ff6347;*/
    /*linear-gradient(to (top, right, bottom, left), (color begin), (color finish));*/
    -fx-background-color: linear-gradient( to top, #fcccfa, #90158c );
    -fx-border-color:linear-gradient( to top, #ffb6a9, #9b311e );
    -fx-border-width: 2px;
    -fx-background-radius: 70px;
    -fx-border-radius: 55px;

    -fx-font-style: noramal;
    -fx-font-weight: bolder;
    -fx-font-size: 18px;
}

.button:hover{
    -fx-background-color: #90158c;
}