.button {
    -fx-background-color:
        #ecebe9,
        rgba(0,0,0,0.05),
        linear-gradient(#dcca8a, #c7a740),
        linear-gradient(#f9f2d6 0%, #f4e5bc 20%, #e6c75d 80%, #e2c045 100%),
        linear-gradient(#f6ebbe, #e6c34d);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 50;
    -fx-padding: 15 15 15 15;
    -fx-font-family: "Helvetica";
    -fx-font-size: 18px;
    -fx-text-fill: #311c09;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.1) , 2, 0.0 , 0 , 1);

}

.menu-bar {
 -fx-background-color: #ddffdb;
}

.menu-bar .menu:hover {
 -fx-background-color: #ffc0f5;
}

.menu-bar .menu:showing {
 -fx-background-color: #ffc0f2;
}

.menu-item {
 -fx-background-color: #ceffd2;
}

.menu-item:hover {
 -fx-background-color: #ffe9bd;
}

.label{

     -fx-font-style: italic;
    -fx-font-weight: lighter ;
    -fx-font-size: 12px;

}