.root{
    -fx-background-color: #3f3f3f; /*defino el color del fondo*/
}
.button{
    -fx-background-color: #008080; /*defino el color de fondo de todos los botones*/
    -fx-border-color: #FFF;
    -fx-text-fill: #FFF;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 5px;
    -fx-font-size: 14;
    -fx-font-style: italic ;
}
.label{
    -fx-text-fill: #fff;
    -fx-font-size: 24;
    -fx-font-style: italic ;
}